<h3>
  Inspiration
  <small class="text-muted">comes from somewhere</small>
</h3>

<div class="form-group">
    <form (ngSubmit)="onSubmit()">
        <div class="form-group">
            <input type="text" placeholder="What are you working on?" class="form-control" id="name" required [(ngModel)]="searchTerm" name="name">
        </div>
    </form>
</div>

<div *ngIf="isLoading" class="loader">

</div>

<div *ngFor="let card of inspirations">
    <inspiration-card [inspiration]="card"></inspiration-card>
</div>