.loader {
    position: relative;
    top: 50%;
    left: 40%;
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3AA7A3;
    border-right: 16px solid #2CA6A4;
    border-bottom: 16px solid #79BCB8;
    border-left: 16px solid #9DD9D2;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}