<h2>Welcome
    <small class="text-muted">to Inspire my Work</small>
</h2>
<div class="container-fluid">
    <div class="row">
        <h4>Find Related Articles
            <small class="text-muted">from millions of articles</small>
        </h4>
    </div>
    <div class="row">
        <h4>Intelligent Lateral Connetions
            <small class="text-muted">using AI Text Analysis</small>
        </h4>
    </div>
</div>
<br/>
<div>
    <p>We've already connected these sources:</p>
    <ul class="list-group">
        <li class="list-group-item"><strong>ArXiv Pre-Print Server</strong> <br/> Open access to 1,270,300 e-prints in Physics, Mathematics, Computer
            Science, Quantitative Biology, Quantitative Finance and Statistics</li>
        <li class="list-group-item"><strong>Directory of Open Access Journas</strong> <br/> DOAJ is a community-curated online directory that indexes
            and provides access to high quality, open access, peer-reviewed journals. </li>
    </ul>
</div>
<div class="align-center">
    <a routerLink="/inspiration"><button type="button" class="btn btn-success">Get Started</button></a>
</div>